page-home {

}

ion-navbar {
  position: center;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.scroll-content{
  //background-color:#ffffff;
}

#homebg{
  background: url("https://media.giphy.com/media/3o85g3loeiLcF26OZy/giphy.gif") center 60px fixed;
  background-size: 400px 530px;
}

.bg-vid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(http://www.w3schools.com/tags/movie.mp4) no-repeat;
  background-size: cover;
}

#recButton {
  background-color: transparent;
  border:  2px solid black;
  width: 300px;
  top: 80px;

}

#shoButton{
  background-color: transparent;
  border:  2px solid black;
  width: 300px;
  top: 160px;

}
