page-home {

}

ion-navbar {
  position: center;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.scroll-content{
  //background-color:#ffffff;
}

#homebg{
  background: url("https://media.giphy.com/media/3o85g3loeiLcF26OZy/giphy.gif") center 60px fixed;
  background-size: 400px 530px;
}

.bgpic{
  background: url("https://s-media-cache-ak0.pinimg.com/236x/ef/96/dc/ef96dc08fee6e60d9e7383a4a3d8c63e.jpg") center center fixed;
  background-size:cover;
}

#recButton {
  background-color: transparent;
  border:  2px solid black;
  width: 300px;
  top: 80px;

}

#shoButton{
  background-color: transparent;
  border:  2px solid black;
  width: 300px;
  top: 160px;

}
