page-home {
  @import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Lobster|Playfair+Display|Raleway');

}

ion-navbar {
  position: center;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.scroll-content{
  //background-color:#ffffff;
}

#homebg{
  background: url("https://media.giphy.com/media/3o85g3loeiLcF26OZy/giphy.gif") center center fixed no-repeat;
  background-size: contain;
  background-color: #2B94B1;
}

.bgpic{
  background: url("https://s-media-cache-ak0.pinimg.com/736x/70/26/e2/7026e2c1198656200a7ef35575ed8e82.jpg") center center fixed;
  background-size:cover;
}


#recButton {
  position:absolute;
  background-color: transparent;
  border:  2px solid black;
  width: 90%;
  top: 70%;
}

#shoButton {
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 90%;
  top: 80%;
}

#inpButton {
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 90%;
  top: 90%;
}
