<!--
  Generated template for the RecipeCollection page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recipes</ion-title>
    <button (click)="GoToShoppingCart()" class="LstButton"></button>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgpic">


      <ion-card *ngFor="let recipe of collection" class="Card">
        <img [src]="recipe.img" on-click = "GoToDetail(recipe)" />

      <ion-card-content class="CardContent">
        <ion-card-title [innerHTML]="recipe.title">
        </ion-card-title>
        <p [innerHTML]="recipe.subtitle1" class="Subtitle">
        </p>
      </ion-card-content>

      </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" ng-if="hasMoreData">
    <ion-infinite-scroll-content
      loadingSpinner = "bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
