<!--
  Generated template for the RecipeCollection page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recipes</ion-title>
    <button (click)="sort()" class="sortButton" ></button>
    <button (click)="GoToShoppingCart()" class="LstButton"></button>
  </ion-navbar>



  <ion-toolbar  *ngIf="sortClicked">
    <ion-segment>
      <ion-segment-button  >
        Food
      </ion-segment-button >
      <ion-segment-button  >
        Beverage
      </ion-segment-button>
      <ion-segment-button>
        Preperation Time
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding class="bgpic">

     <ion-card *ngFor="let recipe of recipeService.shared" class="Card">
        <div class="cardImage" [style.background-image]="'url(' + recipe.img + ')'" on-click = "GoToDetail(recipe)" >
        </div>
        <ion-card-content class="CardContent" on-click = "GoToDetail(recipe)">
          <ion-card-title [innerHTML]="recipe.title">
          </ion-card-title>
          <p [innerHTML]="recipe.subtitle2" class="Subtitle">
          </p>
        </ion-card-content>
      </ion-card>
  <!-- TEXT INDICATOR for end of recipe -->
      <div class="endRecipe">
        <br><h5 style="text-align: center;">End of Recipe List</h5>
      </div>


  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)" ng-if="hasMoreData">-->
    <!--<ion-infinite-scroll-content *ngIf="hasMoreRecipes()"-->
      <!--&gt;-->
    <!--</ion-infinite-scroll-content>-->

  <!--</ion-infinite-scroll>-->

</ion-content>
