page-recipe-collection {
  .CardContent{
    background:url("http://img.michaels.com/L6/3/IOGLO/852866719/201341423/10151236.jpg?fit=inside%7C220:220");
    background-size:cover;
  }

  .Subtitle{
    color:black;
  }
}
