page-recipe-collection {
  .sortButton{
    //To change Icon Logo
    background: url(https://cdn0.iconfinder.com/data/icons/business-line-icon-two/100/ALL-55-128.png) no-repeat;
    background: {
      repeat: no-repeat;
      size:contain;
    }
    position: absolute;
    top:50%;
    left: 75%;
    width: 35%;
    height:35%;
  }

  .CardContent{
    background:url("http://www.texturex.com/albums/Paper-Textures/paper%20texture%20linen%20emboss%20card%20stock%20photo%20white%20light.jpg");
    background-size:cover;
  }

  .Subtitle{
    color:black;
  }

  .endRecipe {
    color:darkgrey;
  }

  .Card {
    border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    margin-bottom: 1.6rem;
  }



  .cardImage{
    background: {
      color: darkgrey;
      repeat: no-repeat;
      position: center;
      size: cover;
    }
    height: 150px;
  }


  $infinite-scroll-loading-color: white;
}

/*
Shared button in all pages.
*/
.LstButton{
  //To change Icon Logo
  background: url("https://cdn3.iconfinder.com/data/icons/ikooni-flat-online-shopping/128/shopping-08-512.png") no-repeat;
  background-size:contain;
  position: absolute;
  top:45%;
  left: 87%;
  width: 40%;
  height:40%;
}
