page-detail {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      margin-bottom: 100px;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      margin-top: 50px;
    }

    .IngredCard{
      background:url("http://www.texturex.com/albums/Paper-Textures/paper%20texture%20linen%20emboss%20card%20stock%20photo%20white%20light.jpg");
      background-size:cover;
    }

    .DetailButton{
      //background-color:#0c60ee;
      border:  2px solid black;
      font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
      color:black;
      left: 10%;
      width:80%;
      border-radius: 10px;
    }

    #cook{
      background:url("https://cdn1.iconfinder.com/data/icons/food-solid-icons-volume-4-1/128/171-512.png") no-repeat;
      background-size:contain;
      background-position: right;
      background-color: #b1cdfb;
    }

    #cart{
      background:url("https://d30y9cdsu7xlg0.cloudfront.net/png/28468-200.png") no-repeat;
      background-size:contain;
      background-position: right;
      background-color: #b1cdfb;
      cursor: pointer;
    }


}
