/**
This is the CSS file for the a recipe's detail. Here you can adjust fonts, colors, background images for the
ingredients, cards, background information
 */
  @import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Lobster|Playfair+Display|Raleway');

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title-1 {
      position: absolute;
      top: 45%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      font-family: 'Josefin Slab', serif;
      color: #fff;
      margin-bottom: 100px;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      margin-top: 50px;
      font-family: 'Raleway', sans-serif;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      margin-top: 50px;
      font-family: 'Raleway', sans-serif;
    }


    .Information{
      //background:url("http://www.texturex.com/albums/Paper-Textures/paper%20texture%20linen%20emboss%20card%20stock%20photo%20white%20light.jpg");
      background-image:url("../assets/img/paperTexture.jpg");
      background-size:cover;
      font-family: 'Raleway', sans-serif;
    }

    .IngredCard{
      //
      //background:url("http://www.texturex.com/albums/Paper-Textures/paper%20texture%20linen%20emboss%20card%20stock%20photo%20white%20light.jpg");
      background-image:url("../assets/img/paperTexture.jpg");
      background-size:cover;
      font-family: 'Raleway', sans-serif;
    }

    //.DetailButton{
      //background-color:#0c60ee;
    //  border:  2px solid black;


      //left: 10%;
      //width:80%;
      //border-radius: 10px;
    //}

    #cook{
      background:url("https://cdn1.iconfinder.com/data/icons/food-solid-icons-volume-4-1/128/171-512.png") no-repeat;
      background-size:contain;
      background-position: right;
      background-color: #b1cdfb;
      //font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
      font-family: 'Raleway', sans-serif;
      color:black;
      left: 10%;
      border-radius: 10px;
      width:80%;
    }

    /**
    CSS Information about the cart
     */
    #cart{
      // Change link below to change icon of cart
      background:url("https://cdn1.iconfinder.com/data/icons/online-shopping-5/128/shopping_buy_promotion_list_online_shopping_copy-512.png") no-repeat;
      background-size:contain;
      background-position: right;
      background-color: #b1cdfb;
      //font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
      font-family: 'Raleway', sans-serif;      color:black;
      cursor: pointer;
      left: 10%;
      border-radius: 10px;
      width:80%;
    }

    .check{
      cursor: pointer;
    }



