page-detail {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      margin-bottom: 100px;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      margin-top: 50px;
    }

    .IngredCard{
      background:url("http://img.michaels.com/L6/3/IOGLO/852866719/201341423/10151236.jpg?fit=inside%7C220:220");
      background-size:cover;
    }

    .DetailButton{
      background:url("http://img.michaels.com/L6/3/IOGLO/852866719/201341423/10151236.jpg?fit=inside%7C220:220");
      border:  2px solid black;
      font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
      color:black;
      left: 10%;
      width:80%;
    }



}
